PySpark Tutorial - https://www.youtube.com/watch?v=_C8kWso4ne4

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('name_age.csv')

    name  age
0  billy   30
1   mary   20
2   dave   99
3   anto   50

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

22/02/19 09:41:21 WARN Utils: Your hostname, Pauls-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.86.21 instead (on interface en0)
22/02/19 09:41:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/19 09:41:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [18]:
df_pyspark = spark.read.option("header",True).csv('name_age.csv',inferSchema=True)

In [19]:
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
|billy| 30|        12|
| mary| 20|        34|
| dave| 99|        50|
| anto| 50|       100|
+-----+---+----------+

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [21]:
df_pyspark.columns

['name', 'age', 'experience']

In [25]:
df_pyspark['Name']

Column<'Name'>

In [24]:
df_pyspark.select('Name','Experience').show() #select  returns new DF

+-----+----------+
| Name|Experience|
+-----+----------+
|billy|        12|
| mary|        34|
| dave|        50|
| anto|       100|
+-----+----------+

In [26]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [27]:
df_pyspark.describe().show()

+-------+----+-----------------+------------------+
|summary|name|              age|        experience|
+-------+----+-----------------+------------------+
|  count|   4|                4|                 4|
|   mean|null|            49.75|              49.0|
| stddev|null|35.12240500497273|37.398752207348664|
|    min|anto|               20|                12|
|    max|mary|               99|               100|
+-------+----+-----------------+------------------+

In [28]:
df_pyspark.withColumn('exp 2yrs', df_pyspark['Experience']+2).show()

+-----+---+----------+--------+
| name|age|experience|exp 2yrs|
+-----+---+----------+--------+
|billy| 30|        12|      14|
| mary| 20|        34|      36|
| dave| 99|        50|      52|
| anto| 50|       100|     102|
+-----+---+----------+--------+

In [29]:
df_pyspark.drop('exp 2yrs').show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
|billy| 30|        12|
| mary| 20|        34|
| dave| 99|        50|
| anto| 50|       100|
+-----+---+----------+

In [30]:
df_pyspark.withColumnRenamed('name', 'new_name').show()

+--------+---+----------+
|new_name|age|experience|
+--------+---+----------+
|   billy| 30|        12|
|    mary| 20|        34|
|    dave| 99|        50|
|    anto| 50|       100|
+--------+---+----------+